
@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Poppins&family=Source+Sans+Pro:wght@400;600;700&display=swap');


.App {
  width: 100vw;
  height:100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;   
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 5px;
}

li img {
  margin-right: 10px;
  width: 80px;
  height: 120px;
}

li h3 {
  font-size: 1.2rem;
  margin: 0;
  margin-bottom: 5px;
  padding: 10px;
}

li p {
  font-size: 0.9rem;
  margin: 0;
  padding: 10px;
}

li a {
  font-size: 0.9rem;
  text-decoration: none;
  color: #0077c0;
}

.pagination-button {
  width: 80px;
  height: 50px;
  margin:12px;
  border-radius: 50px;
  right:0px;
  border: none;
  font-size: 15px;
  background-color: #567189;
  color:white;
  transition: 0.2s all;
  box-shadow: 0 0 10px black;
  font-family: "Poppins", sans-serif;   
}